@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helvetica-lt-std/HelveticaLTStd-Bold.woff2') format('woff2'),
  url('../fonts/Helvetica-lt-std/HelveticaLTStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto-condensat/RobotoCondensed-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-condensat/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helvetica-lt-std/HelveticaLTStd-Light.woff2') format('woff2'),
  url('../fonts/Helvetica-lt-std/HelveticaLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Play-fair-display/PlayfairDisplay-Italic.woff2') format('woff2'),
  url('../fonts/Play-fair-display/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

