$black : #000;
$lightBlack: #787878;
$white : #fff;
$blue: #00b0ff;
$helvetica: 'Helvetica', sans-serif;
$raleway: 'Raleway', sans-serif;
$mont: 'Montserrat', sans-serif;
$playFair: 'PlayFair Display', sans-serif;
$robotoCond: 'RobotoCondensed', sans-serif;
$smothy: all 0.3s;