.header {
  position: relative;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__socials {
    @include phones {
      margin-right: 0;
      margin-top: 20px;
    }
  }
  @include phones {
    display: block;
  }
}